<div id="<%= dom_id participacao %>">
  <p>
    <strong>Pessoa:</strong>
    <%= participacao.pessoa_id %>
  </p>

  <p>
    <strong>Projeto:</strong>
    <%= participacao.projeto_id %>
  </p>

</div>
