<% content_for :title, "Editing participacao" %>

<h1>Editing participacao</h1>

<%= render "form", participacao: @participacao %>

<br>

<div>
  <%= link_to "Show this participacao", @participacao %> |
  <%= link_to "Back to participacaos", participacaos_path %>
</div>
