<p style="color: green"><%= notice %></p>

<% content_for :title, "Participacaos" %>

<h1>Participacaos</h1>

<div id="participacaos">
  <% @participacaos.each do |participacao| %>
    <%= render participacao %>
    <p>
      <%= link_to "Show this participacao", participacao %>
    </p>
  <% end %>
</div>

<%= link_to "New participacao", new_participacao_path %>
