<% content_for :title, "New participacao" %>

<h1>New participacao</h1>

<%= render "form", participacao: @participacao %>

<br>

<div>
  <%= link_to "Back to participacaos", participacaos_path %>
</div>
